<div class="blackBack" ng-click="redirect.toProfile()"></div>
<div class="container">
    <form class="content" role="form" novalidate ng-submit="authenticate()">

        <h2 class="contentHeading">New to Sprinkle?</h2>

        <div class="formElement">
            <input ng-model="authenticationDetails.email"
                   ng-class="{invalid : authenticationAlert.invalidEmail}"
                   type="email"
                   class="contentInput" placeholder="Email address"
                   required autofocus>
        </div>

        <div class="formElement">
            <input ng-model="authenticationDetails.fullName"
                   ng-class="{invalid : authenticationAlert.invalidFullName}"
                   type="text"
                   class="contentInput" placeholder="Full name"
                   required>
        </div>

        <div class="formElement">
            <input ng-model="authenticationDetails.password"
                   ng-class="{invalid : authenticationAlert.invalidPassword}"
                   type="password"
                   class="contentInput" placeholder="Password"
                   required>
        </div>

        <div class="formElement">
            <input ng-model="authenticationDetails.passwordCheck"
                   ng-class="{invalid : authenticationAlert.invalidPassword}"
                   type="password"
                   class="contentInput" placeholder="Re-enter password"
                   required>
        </div>

        <div class="formElement">
            By clicking <strong class="label">Sign up</strong>,
            you agree to the <a href="#" data-toggle="modal" data-target="#target">
            Terms and Conditions</a> set out by this site.
        </div>

        <div class="formElement">
            <button type="submit" class="greenButton">Sign up</button>
        </div>

        <div class="warningAlert" ng-show="authenticationAlert.show">
            <button type="button" class="close" ng-click="authenticationAlert.show = false;">&times;</button>
            <p><strong>Warning!</strong> {{authenticationAlert.message}}</p>
        </div>
    </form>
</div>
