<div class="blackBack"></div>
<div id="signShake" class="container">
    <form class="content" role="form" novalidate ng-submit="authenticate()">

        <h2 class="contentHeading" ng-show="isSignIn">Have an account?</h2>
        <h2 class="contentHeading content-heading-green" ng-hide="isSignIn">New to Sprinkle?</h2>

        <div class="form-group">
            <input ng-model="authenticationDetails.email"
                   ng-class="{invalid : authenticationAlert.invalidEmail}" type="email"
                   class="form-control input-lg contentInput" placeholder="Email address" required autofocus>
        </div>
        <div class="form-group" ng-hide="isSignIn">
            <input ng-model="authenticationDetails.fullName"
                   ng-class="{invalid : authenticationAlert.invalidFullName}" type="text"
                   class="form-control input-lg contentInput" placeholder="Full name" required>
        </div>
        <div class="form-group">
            <input ng-model="authenticationDetails.password"
                   ng-class="{invalid : authenticationAlert.invalidPassword}" type="password"
                   class="form-control input-lg contentInput" placeholder="Password" required>
        </div>
        <div class="form-group" ng-hide="isSignIn">
            <input ng-model="authenticationDetails.passwordCheck"
                   ng-class="{invalid : authenticationAlert.invalidPassword}" type="password"
                   class="form-control input-lg contentInput" placeholder="Re-enter password" required>
        </div>
        <div class="form-group" ng-hide="isSignIn">
            By clicking <strong class="label label-primary">Sign up</strong>,
            you agree to the <a href="#" data-toggle="modal" data-target="#target">
            Terms and Conditions</a> set out by this site.
        </div>

        <div class="row form-group" ng-show="isSignIn">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <span class="button-checkbox">
                    <button ng-click="authenticationDetails.switchRememberMe()" type="button"
                            class="btn" data-color="info">
                        Remember-me
                    </button>
                    <input type="checkbox" class="hidden" value="1">
                </span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="font-size: 0.9em;">
                New to Sprinkle? <br><a class="ajax-link" href="/signup">Sign up now</a>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block contentGreenBtn" ng-hide="isSignIn">Sign up</button>
            <button type="submit" class="btn btn-block contentBtn" ng-show="isSignIn">Sign in</button>
        </div>

        <div class="contentAlert alert alert-dismissable" ng-show="authenticationAlert.show">
            <button type="button" class="close" ng-click="authenticationAlert.show = false;">&times;</button>
            <p><strong>Warning!</strong> {{authenticationAlert.message}}</p>
        </div>
    </form>
</div>
