<form class="sign" role="form" novalidate>

    <h2 class="sign-heading" ng-show="isSignIn">Have an account?</h2>

    <h2 class="sign-heading" ng-hide="isSignIn">New to Sprinkle?</h2>

    <div class="form-group">
        <input ng-model="sign.email" type="email" class="form-control input-lg sign-input"
               placeholder="Email address" required autofocus>
    </div>
    <div class="form-group" ng-hide="isSignIn" >
        <input ng-model="sign.fullName" type="text" class="form-control input-lg sign-input"
               placeholder="Full name" required>
    </div>
    <div class="form-group">
        <input ng-model="sign.password" type="password" class="form-control input-lg sign-input" placeholder="Password"
               required>
    </div>
    <div class="form-group" ng-hide="isSignIn">
        <input ng-model="sign.passwordCheck" type="password" class="form-control input-lg sign-input"
               placeholder="Re-enter password" required>
    </div>
    <div class="form-group" ng-hide="isSignIn">
        By clicking <strong class="label label-primary">Sign up</strong>,
        you agree to the <a href="#" data-toggle="modal" data-target="#target">
        Terms and Conditions</a> set out by this site.
    </div>

    <div class="row form-group" ng-show="isSignIn">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info">Remember-me</button>
                            <input type="checkbox" ng-model="sign.rememberMe" class="hidden"  value="1">
            </span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="font-size: 0.9em;">
            New to Sprinkle? <br><a class="ajax-link" href="#/signup">Sign up now</a>
        </div>
    </div>

    <button ng-click="signUp()" class="btn btn-block sign-green-button" ng-hide="isSignIn">Sign up</button>
    <button ng-click="signIn()" class="btn btn-block sign-button" ng-show="isSignIn">Sign in</button>

    <div class="sign-alert alert alert-dismissable" ng-show="signAlert.show">
        <button type="button" class="close" ng-click="signAlert.show = false;">&times;</button>
        <p><strong>Warning!</strong> {{signAlert.message}}</p>
    </div>
</form>