body {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #eee;
}

.starter-template {
    padding: 40px 15px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

