<div class="whiteBackLeft">
    <div id="newEventShake" class="newEventContent">
        <form role="form" novalidate> <!--ng-submit=""-->
            <div>
                <input type="text"
                       ng-model="newEvent.name"
                       class="contentInput"
                       placeholder="Event name"
                       required autofocus>
            </div>

            <div class="newEventGroup">
                <div>
                    <button type="button"
                            ng-style="{background : getColor()}"
                            class="dropdown-toggle groupBtn"
                            data-toggle="dropdown">
                        {{getSelectedType()}} <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu"
                        ng-style="{'border-color': getColor()}">
                        <li ng-repeat="type in eventTypes">
                            <a href=""
                               ng-click="setTypeOfNewEvent(type)">
                                {{type.name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <button type="button"
                            ng-style="{background : getColor()}"
                            class="groupBtn"
                            ng-click="closeEventCreation()">
                        Close
                    </button>

                </div>
            </div>

            <div>
                <textarea
                        class="contentInput"
                        ng-model="newEvent.description"
                        rows="12"
                        placeholder="Description">
                </textarea>
            </div>
        </form>
    </div>
</div>>