<div class="whiteBack30Right">
    <div id="newEventShake" class="container newEventContent">
        <form role="form" novalidate> <!--ng-submit=""-->
            <div>
                <input type="text" ng-model="newEvent.name"
                       class="form-control input-lg contentInput" placeholder="Event name" required autofocus>
            </div>

            <div class="btn-group btn-group-justified btnGroup">
                <div class="btn-group">
                    <button type="button" ng-style="{background : getColor()}"
                            class="btn dropdown-toggle newEventBtn" data-toggle="dropdown">
                        {{getSelectedType()}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" ng-style="{'border-color': getColor()}">
                        <li ng-repeat="type in eventTypes">
                            <a href="" ng-click="setTypeOfNewEvent(type)">{{type.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" ng-style="{background : getColor()}"
                            class="btn newEventBtn" ng-click="closeEventCreation()">
                        Close
                    </button>
                </div>
            </div>

            <div>
                <textarea msd-elastic class="form-control input-lg contentInput" ng-model="newEvent.description"
                          rows="10" placeholder="Description"></textarea>
            </div>
        </form>
    </div>
</div>>