<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!--  Allows us to choose what version of Internet Explorer the page should be rendered as !-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- For mobile browsers !-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>Sprinkle</title>

    <!-- Bootstrap core CSS -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Mapbox core css -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

    <!-- Custom styles for this template -->
    <link href="resources/css/stylesheet.css" rel="stylesheet">
    <link href="resources/css/sign.css" rel="stylesheet">

    <!-- History API-->
    <link href="resources/js/history.min.js">

    <!-- Mapbox core JavaScript
    ================================================== -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sprinkle</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="ajax-link sign-up hidden" id="btn-sign-in" href="signin">Sign in</a></li>
                <li><a class="ajax-link hidden" id="btn-logout" href="logout">Logout</a></li>
                <li><a class="ajax-link sign-in show" id="btn-forg-pas" href="fpassword">Forgot a password?</a></li>
                <li><a class="ajax-link sign-in show" id="btn-sign-up" href="signup">Sign up</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<!-- Map Box -->
<div id='map'></div>

<div id="sign-container" class="container">
    <form class="sign" role="form">
        <h2 class="sign-heading sign-in">Have an account?</h2>
        <h2 class="sign-heading sign-up hidden">New to Sprinkle?</h2>
        <div class="form-group">
            <input id="login" type="email" class="form-control input-lg sign-input" placeholder="Email address" required autofocus>
        </div>
        <div class="form-group sign-up hidden">
            <input id="full-name" type="text" class="form-control input-lg sign-input" placeholder="Full name" required>
        </div>
        <div class="form-group">
            <input id="password" type="password" class="form-control input-lg sign-input" placeholder="Password" required>
        </div>
        <div class="form-group sign-up hidden">
            <input id="password-check" type="password" class="form-control input-lg sign-input" placeholder="Re-enter password" required>
        </div>
        <div class = "form-group sign-up hidden">
            By clicking <strong class="label label-primary">Sign up</strong>,
            you agree to the <a href="#" data-toggle="modal" data-target="#target">
            Terms and Conditions</a> set out by this site.
        </div>

        <div class="row form-group sign-in">
            <div class="col-xs-6 col-sm-6 col-md-6">
					<span class="button-checkbox">
                        <button type="button" class="btn" data-color="info">Remember-me</button>
                        <input type="checkbox" id="remember-me" class="hidden" value="1">
					</span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="font-size: 0.9em;">
                New to Sprinkle? <br><a class = "ajax-link" href="signup">Sign up now</a>
            </div>
        </div>

        <button id ="sign-up-button" class="btn btn-block sign-green-button sign-up hidden">Sign up</button>
        <button id ="sign-in-button" class="btn btn-block sign-button sign-in">Sign in</button>

        <div id="sign-alert" class="sign-alert alert alert-dismissable sign-warning hidden">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p id="alert-text"></p>
        </div>
    </form>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="resources/js/bootstrap.min.js"></script>

<!-- Custom map JavaScriot -->
<script src='resources/js/sprinklemap.js'></script>

<!-- Custom JavaScript -->
<script src='resources/js/sprinkle.js'></script>

</body>
</html>