.groupBtn {
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    background: rgb(94, 162, 175);
    opacity: 0.8;
    border: 0;
    border-radius: 0;
    outline: none;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 36px;
    padding: 0;
}

.groupBtn:hover,
.groupBtn:focus {
    opacity: 1.0;
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* When dropdown is open */
.btn-group.open
.groupBtn {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.groupBtn:active,
.groupBtn.active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1.0;
}

.newEventContent {
    position: relative;
    width: 100%;
    margin: 0;
    float: right;
    padding: 25px 25px 0;
}

.newEventContent input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.newEventContent textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.newEventContent .contentInput {
    border: 1px solid #ebebeb;
    -webkit-box-shadow: inset 0 -1px #ebebeb;
    box-shadow: inset 0 -1px #ebebeb;
    height: 100%;
}

.newEventContent .contentInput:focus {
    border-color: #ebebeb;
    outline: none;
    -webkit-box-shadow: inset 0 -1px #ebebeb;
    box-shadow: inset 0 -1px #ebebeb;
}

.newEventGroup {
    width: 100%;
    height: 36px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.newEventGroup div:first-child {
    width: 50%;
    position: absolute;
    left: 0;
}

.newEventGroup div:nth-child(2) {
    width: 50%;
    position: absolute;
    right: 0;
}