textarea {
    resize: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.contentMarginTop50 {
    margin-top: 50px;
}

.content input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.contextIcon {
    position: absolute;
    right: 0;
    padding: 5px;
}

.contextIcon:hover,
.contextIcon:active,
.contextIcon:focus {
    opacity: 0.5;
}

.whiteBack30Right {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
}

.blackBack30Right {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: #000000;
    opacity: 0.1;
}

.blackBack60Mid {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60%;
    right: 20%;
    background: rgba(0, 0, 0, 0.25);
}

.blackBack {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #000000;
    opacity: 0.50;
    z-index: 1001;
}

.whiteBack30Mid {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    background: #ffffff;
    opacity: 0.25;
}

.content {
    position: relative;
    width: 30%;
    margin: auto;
    padding: 0 25px 29px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 50px #202020;
    box-shadow: 0 0 50px #202020;
    z-index: 1001;
    border-radius: 2px;
}

.content:after {
    bottom: 3px;
    border-color: #dcdcdc;
}

.contentHeading {
    margin: 0 -25px 25px;
    padding: 15px 25px;
    line-height: 45px;
    font-size: 26px;
    font-weight: 300;
    color: #8A8A8A;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    text-align: center;
}

input, textarea {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lt-ie9 .contentInput {
    line-height: 48px;
}

.contentInput {
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.9);
    color: rgb(80, 80, 80);
    border: 1px solid #ebebeb;
    border-radius: 0;
    -webkit-box-shadow: inset 0 -1px #ebebeb;
    box-shadow: inset 0 -1px #ebebeb;
}

.contentInput:focus {
    border-color: #5EA2AF;
    outline: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 -1px #5EA2AF;
    box-shadow: inset 0 -1px #5EA2AF;
}

.contentBtn {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

.contentBtn:active,
.contentGreenBtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.invalid {
    font-size: 17px;
    background: white;
    border: 1px solid #953228;
    -webkit-box-shadow: inset 0 -1px #953228;
    box-shadow: inset 0 -1px #953228;
}

.contentGreenBtn {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background: #c5e199;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
}
.contentAlert {
    margin: 10px auto auto;
    width: 100%;
    background: white;
    border-radius: 0px;
}

.btn:hover, .btn:focus {
    color: #ffffff;
}

:-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

::-moz-placeholder {
    color: #ccc;
    opacity: 1;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

