html {
    overflow: hidden;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 40px;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Header */
.navbar-inverse {
    background: rgb(80, 80, 80);
    /*border-bottom: solid 1px rgba(129, 119, 180, 0.95);*/
    border-bottom: solid 3px rgba(68, 114, 122, 1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

/* Navigation bar links color on focus/hover */
.navbar-inverse
.navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #e1e1e1;
    background-color: rgba(0, 0, 0, 0.25);
}

/* Navigation bar links color */
.navbar-inverse .navbar-nav > li > a {
    color: #D8D8D8;
}

/* Sprinkle name button */
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background: rgb(94, 162, 175); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(94, 162, 175, 1) 0%, rgba(68, 114, 122, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(94, 162, 175, 1)), color-stop(100%, rgba(68, 114, 122, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(94, 162, 175, 1) 0%, rgba(68, 114, 122, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(94, 162, 175, 1) 0%, rgba(68, 114, 122, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(94, 162, 175, 1) 0%, rgba(68, 114, 122, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(94, 162, 175, 1) 0%, rgba(68, 114, 122, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ea2af', endColorstr='#44727a', GradientType=0); /* IE6-9 */
    /*background: rgba(148, 137, 207, 1); */
    color: #D8D8D8;
}

/* TODO: remove important */
.navbar-brand {
    padding: 5px !important;
    height: auto;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    min-height: 30px
}

.navbar-toggle {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.dropdown-menu {
    right: 0;
    margin: 0;
    border-radius: 0 0 5px 5px;
    border: 2px solid #5EA2AF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .175);
}

