textarea {
    resize: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signInRow:after,
.signInRow:before {
    display: table;
    content: " ";
}

.signInRow:after {
    clear: both;
}

.content input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.contextIcon {
    position: absolute;
    right: 0;
    padding: 5px;
}

.contextIcon:hover,
.contextIcon:active,
.contextIcon:focus {
    opacity: 0.5;
}

.whiteBackLeft {
    overflow-y: auto;
    position: fixed;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    bottom: 0;
    left: 0;
    margin-left: 1%;
    width: 400px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes bounceInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }
    80% {
        opacity: 1;
        -webkit-transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }
    80% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.whiteBackEvent {
    overflow-y: auto;
    position: relative;
    border-radius: 2px;
    margin-left: 1%;
    width: 400px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.blackBack30Right {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: #000000;
    opacity: 0.1;
}

.blackBack {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.50);
}

.blackBackEvent {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.whiteBack30Mid {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    background: #ffffff;
    opacity: 0.25;
}

.content {
    position: relative;
    width: 30%;
    margin: 10px auto auto;
    padding: 0 25px 29px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 50px #202020;
    box-shadow: 0 0 50px #202020;
    z-index: 1001;
    cursor: pointer;
    border-radius: 2px;
}

.content:after {
    bottom: 3px;
    border-color: #dcdcdc;
}

.contentHeading {
    margin: 0 -25px 25px;
    padding: 15px 25px;
    line-height: 45px;
    font-size: 26px;
    font-weight: 300;
    color: #8A8A8A;
    border-bottom: 1px solid #d5d5d5;
    box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    text-align: center;
}

input, textarea {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lt-ie9 .contentInput {
    line-height: 48px;
}

.contentInput {
    display: block;
    width: 100%;
    height: 46px;
    padding: 10px 16px;
    background: rgba(255, 255, 255, 0.9);
    color: #999;
    border: 1px solid #ebebeb;
    border-radius: 0;
    -webkit-box-shadow: inset 0 -1px #ebebeb;
    box-shadow: inset 0 -1px #ebebeb;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contentInput::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.contentInput:-ms-input-placeholder {
    color: #999;
}
.contentInput::-webkit-input-placeholder {
    color: #999;
}

.contentInput:focus {
    color: rgb(80, 80, 80);
    font-weight: 500;
    border-color: #5EA2AF;
    outline: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 -1px #5EA2AF;
    box-shadow: inset 0 -1px #5EA2AF;
}

.redButton {
    outline: none;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

.redButton:active,
.greenButton:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.invalid {
    background: white;
    border: 1px solid #953228;
    -webkit-box-shadow: inset 0 -1px #953228;
    box-shadow: inset 0 -1px #953228;
}

.greenButton {
    outline: none;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background: #c5e199;
}

.rememberMeButton {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    outline: 0;
}

.rememberMeButtonChecked {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    outline: 0;
    background-color: #5EA2AF;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
}

.formElement,
.signInRow {
    margin-bottom: 15px;
}

.signInRow {
    margin-right: -15px;
    margin-left: -15px;
}

.rememberMe {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
}

.forgotPassword {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 7px;
}

.warningAlert {
    width: 100%;
    background: white;
    border-radius: 0;
    margin: 10px auto 20px;
    border: 1px solid transparent;
    padding: 15px 35px 15px 15px;
}

.warningAlert .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.label {
    font-weight: 500;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 80%;
    border-radius: 2px;
    background: #5EA2AF;
    border: 1px solid rgba(94, 162, 175, 0.5);
    padding: .2em .6em .3em;
}

:-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

::-moz-placeholder {
    color: #ccc;
    opacity: 1;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

