textarea {
    resize: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content-margin-top-50 {
    margin-top: 50px;
}

.map-container-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: #ffffff;
    opacity: 0.25;
}

.map-container {
    padding: 33px 25px 29px;
    position: relative;
    width: 30%;
    margin: 0;
    float: right;
}

.map-container input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.map-container textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.content {
    position: relative;
    width: 30%;
    margin: auto;
    padding: 33px 25px 29px;
    background: white;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.content:after {
    bottom: 3px;
    border-color: #dcdcdc;
}

.content:before, .content:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 10px;
    background: inherit;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 4px;
}

.content-heading {
    margin: -25px -25px 25px;
    padding: 15px 25px;
    line-height: 35px;
    font-size: 26px;
    font-weight: 300;
    color: #aaa;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    background: #f7f7f7;
}

.content-heading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input, textarea {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-input {
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
}

.content-input:focus {
    border-color: #62c2e4;
    outline: none;
    -webkit-box-shadow: inset 0 -2px #62c2e4;
    box-shadow: inset 0 -2px #62c2e4;
}

.lt-ie9 .content-input {
    line-height: 48px;
}

.content-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    box-shadow: inset 0 -2px #d76b60;
}

.content-button:active, .content-green-button:active, .content-blue-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.invalid {
    font-size: 17px;
    background: white;
    border: 2px solid #953228;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #953228;
    box-shadow: inset 0 -2px #953228;
}

.content-green-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: #c5e199;
    -webkit-box-shadow: inset 0 -2px #acc672;
    border-bottom: 2px solid #acc672;
    box-shadow: inset 0 -2px #acc672;
}

.content-sm-btn {
    opacity: 0.8;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
}

.content-sm-btn-grn {
    background-image: -webkit-linear-gradient(top, #c5e199 0%, #a7e176 100%);
    background-image:         linear-gradient(top, #c5e199 0%, #a7e176 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5e199', endColorstr='#a7e176', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    background: #a7e176;
    -webkit-box-shadow: inset 0 -2px #6eba4f;
    box-shadow: inset 0 -2px #6eba4f;
}
.content-sm-btn-grn:hover,
.content-sm-btn-grn:focus {
    background: #9ad46a 0 -15px;
}
.content-sm-btn-grn:active,
.content-sm-btn-grn.active {
    background-color: #93c567;
}

.content-sm-btn-red {
    background-image: -webkit-linear-gradient(top, #ff9376 0%, #f0776c 100%);
    background-image:         linear-gradient(top, #ff9376 0%, #f0776c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9376', endColorstr='#f0776c', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    background: #ff7069;
    -webkit-box-shadow: inset 0 -2px #d4584b;
    box-shadow: inset 0 -2px #d4584b;
}
.content-sm-btn-red:hover,
.content-sm-btn-red:focus {
    background: #f0857c 0 -15px;
}
.content-sm-btn-red:active,
.content-sm-btn-red.active {
    background-color: #f0776c;
}

.content-alert {
    position: relative;
    margin: 10px auto auto;
    width: 100%;
    background: white;
    border: 2px solid #faebcc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #faebcc;
    box-shadow: inset 0 -2px #faebcc;
}

.btn:hover, .btn:focus {
    color: #ffffff;
}

:-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

::-moz-placeholder {
    color: #ccc;
    opacity: 1;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}