.eventContent {
    position: relative;
    width: 60%;
    list-style: none;
    padding: 0;
    font-size: 1.1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    margin: auto auto 0;
}

.eventContent .eventContentTitle i {
    color: #fff;
    position: absolute;
    right: -25px;
    vertical-align: middle;
    background: white;
    width: 25px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    line-height: 30px;
    top: 7px;
}

.eventContent .eventContentTitle span {
    line-height: 46px;
    font-size: 40px;
    font-weight: normal;
    color: #2e3435;
    font-family: Georgia;
}

.eventContentTitle {
    min-height: 46px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.eventContentDescription {
    font-family: "Lora";
    font-size: 18px;
    letter-spacing: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;
    background: rgb(255, 255, 255);
    min-height: 46px;
    color: rgb(80, 80, 80);
    text-align: left;
    border: 1px solid #FFFFFF;
    padding: 10px 25px 20px;
}

.eventContentHeading {
    line-height: 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #f7f7f7;
    opacity: 0.8;
}

.eventContent input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.eventContent textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.clickableBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}