.newEventBtn {
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    background: #4F4F4F;
    opacity: 0.8;
    border: 0;
    border-radius: 0;
}

.newEventBtn:hover {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* When dropdown is open */
.btn-group.open
.newEventBtn {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.newEventBtn:active,
.newEventBtn.active {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.newEventContent {
    position: relative;
    width: 100%;
    margin: 0;
    float: right;
    padding: 50px 25px 29px;
}

.newEventContent input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.newEventContent textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.newEventContent .contentInput {
    border: 1px solid #ebebeb;
    -webkit-box-shadow: inset 0 -1px #ebebeb;
    box-shadow: inset 0 -1px #ebebeb;
}

.newEventContent .contentInput:focus {
    border-color: #ebebeb;
    outline: none;
    -webkit-box-shadow: inset 0 -1px #ebebeb;
    box-shadow: inset 0 -1px #ebebeb;
}