body {
    padding-top: 50px;
    padding-bottom: 40px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#profile {
    margin-right: -60px;
    margin-top: 10px;
    float: right;
}

