.nw-event-container {
    padding: 0 25px 29px;
    position: relative;
    width: 30%;
    margin: 0;
    float: right;
}

.nw-event-container input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.nw-event-container textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nw-event-btn {
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    background: #4F4F4F;
    opacity: 0.8;
    border: 0;
    border-radius: 0;
}

.nw-event-btn-l {
    border-left: 2px solid #ebebeb;
}

.nw-event-btn-r {
    border-right: 2px solid #ebebeb;
}

.nw-event-btn:hover,
.nw-event-btn:focus {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* When dropdown is open */
.btn-group.open
.nw-event-btn {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nw-event-btn:active,
.nw-event-btn.active {
    opacity: 1.0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nw-event-input:focus {
    border-color: #ebebeb;
    outline: none;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
}