<div class="blackBackEvent" ng-click="closeEventView()"></div>
<div class="eventContainer">
    <div class="eventContent">
        <ul>
            <li class="eventContentTitle">

                <span>
                    {{properties.title}}
                </span>

                <i class="glyphicon glyphicon-remove"
                   ng-style="{background : properties['marker-color']}"
                   ng-click="closeEventView()">
                </i>

            </li>

            <li class="eventContentDescription">{{properties.description}}</li>
        </ul>
    </div>
</div>>