<div class="map-container-back"></div>
<div id="map-shake" class="container map-container">
    <form role="form" novalidate> <!--ng-submit=""-->
        <div class="form-group">
            <input ng-class="{invalid : newEvent.error}" type="text" ng-model="newEvent.name"
                   class="form-control input-lg content-input" placeholder="Event name" required autofocus>
        </div>

        <div class="form-group">
            <textarea ng-class="{invalid : newEvent.error}" class="form-control input-lg content-input" ng-model="newEvent.description"
                      rows="10" placeholder="Description"></textarea>
        </div>

        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn content-sm-btn content-sm-btn-grn dropdown-toggle" data-toggle="dropdown">
                    Select event type <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="type in eventTypes">
                        <a href="">{{type.name}}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="">None</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn content-sm-btn content-sm-btn-red"> Cancel
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </form>
</div>
